* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clock {
    position: relative;
    width: 40rem;
    height: 40rem;
    background: url("clock-without-hands.jpg") center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.secs {
    position: absolute;
    top: 50%;
    left: 51%;
    height: 4.5rem;
    width: .1rem;
    background-color: blueviolet;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.mins {
    position: absolute;
    top: 50%;
    left: 51%;
    height: 4rem;
    width: .2rem;
    background-color: blueviolet;
    transform: translateX(-50%);
    transform-origin: 25% 0;
}

.hours {
    position: absolute;
    top: 50%;
    left: 51%;
    height: 3.5rem;
    width: .3rem;
    background-color: blueviolet;
    transform: translateX(-50%);
    transform-origin: 50% 0;
    
}

.dot {
    position: absolute;
    top: 49%;
    left: 51%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: white;
    transform: translateX(-50%);
    transform-origin: 50% 0;
}

